Options +FollowSymLinks
RewriteEngine On

# Redirect everything to index.php unless it's a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
